<!doctype html>
<html>
    <head>
        <title>Faces_2IFC_Task</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../static/jspsych-5.0.3/jspsych.js"></script>
        <script src="../static/jspsych-5.0.3/plugins/jspsych-text.js"></script>
        <script src="../static/jspsych-5.0.3/plugins/jspsych-single-stim.js"></script>
        <script src="../static/jspsych-5.0.3/plugins/jspsych-multi-stim-multi-response.js"></script>
        <script src="../static/jspsych-5.0.3/plugins/jspsych-categorize-animation.js"></script>
        <script src="sivaFaces.js"></script>
        <link href="../static/jspsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="../static/css/jsscenter.css" rel="stylesheet" type="text/css"></link>
        <!---------PsiTurk inserts start-------->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/lib/underscore-min.js" type="text/javascript"> </script>
        <script src="../static/lib/backbone-min.js" type="text/javascript"> </script>
        <script src="../static/lib/d3.v3.min.js" type="text/javascript"> </script>
        <!-- These variables are necessary to implement psiTurk -->
        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
        </script>
        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="../static/js/utils.js" type="text/javascript"></script>
        <script src="../static/js/psiturk.js" type="text/javascript"></script>
        <!---------PsiTurk inserts end-------->
    </head>
    <body>
    </body>
    <script>
    
        //Data switches
        var psiTurkIsOn = 1; //Set this to zero if testing locally (without PsiTurk)
        var savingLocally = 0;
        var displayData = 0;
        var tableName = 'Faces_2IFC_Task';
        var folderName = 'Faces_2IFC_Task';
        
        
        // Load psiturk
        if (psiTurkIsOn == true){
          var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);
        } 


          //-------------------------------//
         //-------Parameters Start--------//
        //-------------------------------//

        //Trial parameters
        var nEasyPracticeTrials = 4; //Must be a multiple of 4 to be counterbalanced properly
        var nHardPracticeTrials = 4; //Must be a multiple of 4 to be counterbalanced properly
        var nRealTrials = 96; //Must be a multiple of 4 to be counterbalanced properly
        var nReal75Trials = 16;
        var nBreaks = 2;
        var validIntensitiesArray = [5, 15, 25];//The intensities of emotions for the experiment
        var validPersonsArray = [10,13,14,18,26,40,41,43]; //The people whose faces will be used in the experiment
        var allIntensitiesArray = [10,100,15,20,25,5,75]; // The order of how the intensities in the face map are ordered
        
        
        //Timing variables
        var minPostTrialGap = 500; //Minimum gap after a trial in ms
        var maxPostTrialGap = 1500; //Maximum gap after a trial in ms
        var sampleFrameTime = 1000; //How long the sample images are displayed for in ms
        var realTrialsPresentationTime =  500; //How long to present the stimulus for in real trials in ms
        var practiceTrialsPresentationTime = 1000; //How long to present the stimulus for in practice trials in ms
        var timeForResponse = 6000; //How long to wait for the subject to give a response
        var fixationCrossTime = 1000; //How long the fixation cross will be displayed on the screen

        //Other variables
        var happyKey = key('h');
        var fearfulKey = key('f');
        var firstKey = key('1');
        var secondKey = key('2');
        
        //Styling variables
        var maxWidth = 800;//How wide the instruction words can go in pixels
        
          //-----------------------------//
         //-------Parameters End--------//
        //-----------------------------//
        
        //Global variables to store the judgmentPrompt values, to be updated in the on_finish of the judgment prompt trials
        var confidencePromptCorrectness = "N/A";
        
        //Create a variable that stores all the faces in a map structure for easy accessibility
        var faceMap = {}; //faceMap can be accessed like this: faceMap["H"]["01"], which returns an array
        
        //Fill in the faceMap
        createFaceMap();
        console.log(faceMap);

        //Variable to keep track of number of points
        var pointsCounter = 0;
        
        //Make the instructions
        var instructionsBlock = makeInstructions();
        
        //Make the Example block
        var exampleBlock = makeExampleBlock();
        
        //Make the prompt for practice
        var practiceTrialsPrompt = makePracticeTrialsPrompt();
        
        //Make the array of easy practice trials
        var easyPracticeTrialsBlock = makeTrials("practice", "easy");
        
        //Make the prompt for the hard practice trials
        var hardPracticeTrialsPrompt = makeHardPracticeTrialsPrompt();
        
        //Make the array of hard practice trials
        var hardPracticeTrialsBlock = makeTrials("practice", "hard");
        
        //Make the prompt for the real trials
        var realTrialsPrompt = makeRealTrialsPrompt()
        
        //Make the array of real trials
        var realTrialsBlock = makeTrials("real");
        
        //Make the array of real trials
        var real75TrialsBlock = makeTrials("real","75");
        
        //Concatenate all the real trials and shuffle them
        realTrialsBlock.timeline = concatenateShuffleRetag(realTrialsBlock, real75TrialsBlock);

        console.log(realTrialsBlock);
        
        //Insert the break screen
        var realTrialsBlockWithBreaks = insertBreakScreens(realTrialsBlock);
        
        //Make the prompt for the debrief
        var debriefPrompt = makeDebriefPrompt();

        //The timeline for the main experiment
        var timeline = []
        timeline.push(instructionsBlock);
        timeline.push(exampleBlock);
        timeline.push(practiceTrialsPrompt);
        timeline.push(easyPracticeTrialsBlock);
        timeline.push(hardPracticeTrialsPrompt);
        timeline.push(hardPracticeTrialsBlock);
        timeline.push(realTrialsPrompt);
        timeline.push(realTrialsBlockWithBreaks);
        timeline.push(debriefPrompt);
        
        console.log("timeline:");
        console.log(timeline);

        //---------Run the experiment---------
    
        //Initiate the experiment
        jsPsych.init({
          timeline: timeline,
          on_finish: function(){ //Execute this when the experiment finishes
            if(savingLocally == true){
              jsPsych.data.localSave('testSave.csv', 'csv'); //Save the data locally in a .csv file
            }
            if(displayData == true){
              jsPsych.data.displayData(); //Display the data onto the browser screen
            }
            if(psiTurkIsOn == true){
              Data({ 
                success: function(){
                  psiturk.completeHIT(); //Complete the HIT
                }
              });
            }
          },
          on_trial_finish: function(){ //Execute this after every trial
            if (psiTurkIsOn == true){
              save_data(tableName, [jsPsych.data.getLastTrialData()]);
            }
          }
        });


        //-------------------------------------
        //------Functions below this line------
        //-------------------------------------


        //Parses the name of the image file and store it as an object. Object is returned
        function parseName(image) {
          // This part made by Steven Weiss, it's regex magic, just ignore it.
          //note to self: this is just taking out certain characters and creating an array for each letter of "HFN"
          var extractedGroups = image.match(/([HFN])([0-9]+)_([0-9]+)/);
          //console.log(extractedGroups);
          var category = extractedGroups[1];
          // Treat zero intensity images as neutral
          if (extractedGroups[3] == 0) {
            category = "N";
          }
          //Return the object with the data that we want
          return {
            // "H" if happy, "F" if fearful, "N" if neutral
            category: category,
            person: extractedGroups[2],
            intensity: extractedGroups[3],
            image_file: image
          };
        }

        //Function that uses faces.js to fill in the faceMap
        function createFaceMap(){
            //faces is an array of paths to individual images in faces.js
            for (var i = 0; i < faces.length; i++) {
              var face = parseName(faces[i]); //face is the object that is returned from the parseName function above
              // Create the maps if they don't exist
              if (!faceMap[face.category]) {
                faceMap[face.category] = {}
              }
              if (!faceMap[face.category][face.person]) {
                faceMap[face.category][face.person] = []
              }
              //Set the maps
              faceMap[face.category][face.person].push(face.image_file);
            }
        }
        
        //------Text-making functions-------

        //Function that makes the instructions for the experiment
        function makeInstructions(){
            
            var welcomeText = `<div style="max-width:${maxWidth}px;">` +
            '<p>Welcome to the experiment!</p>' + 
            '<p>To ensure proper presentation of images, <strong>please maximize the current window.</strong></p>' + 
            '<p>When you are ready, press any key to begin.</p>' + 
            '</div>';

            var instructionsText1 = `<div style="max-width:${maxWidth}px;">` +
            '<p>In this experiment, a fixation cross will appear in the middle of the screen. Shortly after, a face will be presented briefly. Then a second fixation cross will appear, and a second face will be presented briefly.</p>' +
              '<p> You will then be asked to judge each of the two faces on whether they were happy or fearful faces.</p>' +
              '<p>If the face was a <strong>fearful</strong> face, press the letter <strong>F</strong> on the keyboard.</p>' +
              '<p>If the face was a <strong>happy</strong> face, press the letter <strong>H</strong> on the keyboard.</p>' +
              "<div class='left center-content'><img src='../static/images/F01_100.png'></img>" +
              "<p class='small'><strong>Press the F key</strong></p></div>" +
              "<div class='right center-content'><img src='../static/images/H01_100.png'></img>" +
              "<p class='small'><strong> Press the H key</strong></p></div>" +
              "<p><br/>Press any key to continue.</p>" + 
              '<div>';

            var instructionsText2 =  `<div style="max-width:${maxWidth}px;">` +
              '<p> Prior to judging whether the faces were happy or fearful, you will be asked to rate which response you feel more confident in.</p>' + 
              '<p>If you feel that you are more confident in your response to the face that was presented <i>first</i>, press <strong>1</strong>.</p>' +
              '<p> If you feel more confident in your response to the face that was presented <i>second</i>, press <strong>2</strong>.<br/></p>' +
              '<p> <br/> Press any key to continue.</p>' +
              '</div>';
              
            var instructionsText3 =  `<div style="max-width:${maxWidth}px;">` +
              '<p> <u>To reiterate the steps in the experiment:</u></p>' +
              '<p> 1. Look at the cross and wait for the faces to appear, one after the other.</p>'+
              '<p> 2. Rate which face judgment you feel more confident in.</p>' +
              '<p> 3. Indicate if the first face was happy or fearful.</p>' +
              '<p> 4. Indicate if the second face was happy or fearful. </p>' +
              '<p> <br/> Press any key to continue.</p>' +
              '</div>';

            var instructionsText4 =  `<div style="max-width:${maxWidth}px;">` +
              '<p> There are four possible combinations of faces, and they will be randomly presented.</p>' +
              '<p> <br/> <u> Here are the four possible combinations: </u> </p>' +
              '<p> 1. happy & happy </p>' + 
              '<p> 2. fearful & fearful </p>' + 
              '<p> 3. happy & fearful </p>' + 
              '<p> 4. fearful & happy  </p>' +
              '<p> <br/> Press any key to continue.</p>' +
              '</div>';

            var instructionsText5 =  `<div style="max-width:${maxWidth}px;">` +
              '<p> <u> 2 final points: </u> </p>' +
              '<p> <br/> (1) <b>Please use your right hand for the "F" and "H" keys and please use your left hand for the "1" and "2" keys.</b> The purpose of this arrangement is to make it most convenient for you to respond during the experiment and minimize delays. Please place your fingers on those keys now.</p>' +
              '<p> <br/> (2) <b>You will get a point for each of the questions that you get correct.</b> In each trial, there will be 3 questions: 1 to bet on the interval, and 2 to bet on the emotion of the faces. If you bet on the easier interval, you get a point for the first question. If you guess the emotions of the faces correctly in the emotion questions, you get a point for each of those questions. In the end, all your points will be totaled up. If you get more points than the previous participant, you will receive a bonus payment of $1. </p>' + 
              '<p> <br/> Press any key to continue.</p>' +
              '</div>';

            return {
                type: 'text',
                timeline: [
                    {text: welcomeText},
                    {text: instructionsText1},
                    {text: instructionsText2},
                    {text: instructionsText3},
                    {text: instructionsText4},
                    {text: instructionsText5}

                ]
            };
        }//End of makeInstructions()
        
        //Function to make prompt before the practice trials
        function makePracticeTrialsPrompt(){
          return {
            type: 'text',
            text: `<div style="max-width:${maxWidth}px;">` +
            '<p> This is a short practice session that will be exactly like the actual task.</p>' + 
            '<p> Always keep your focus on the cross at the center of the screen. </p>' +
            '<p>Press any key to begin.</p>' +
            '</div>'
          };
        }
        
        //Function to make prompt before the hard practice trials
        function makeHardPracticeTrialsPrompt(){
          return {
            type: 'text',
            text: `<div style="max-width:${maxWidth}px;">` +
            '<p> Great work! Those were the easy practice trials. Some of the trials will be more difficult as their emotions are not as obvious.</p>' + 
            '<p> Here are a few more difficult practice trials to get your more familiar with the more difficult trials. </p>' + 
            '<p> Remember to always keep your focus on the cross at the center of the screen. </p>' +
            '<p>Press any key to begin.</p>' +
            '</div>'
          };
        }
        
        //Function to make the prompt before the real trials
        function makeRealTrialsPrompt(){
          return {
            type: 'text',
            text: `<div style="max-width:${maxWidth}px;">` +
            '<p> Well done with the practices! You are now ready to begin the actual experiment. </p>' + 
            '<p>In the actual experiment, the faces and prompts will appear exactly like those in the practice trials. However, the faces will be presented for a shorter duration, so it will be slightly more difficult. If you are unsure of your choices, just make your best guess!</p>' + 
            '<p>Press any key to begin the actual experiment. </p>' +
            '</div>'
          };
        }
        
        //Function to make the prompt before the real trials
        function makeDebriefPrompt(){
          return {
            type: 'text',
            text: `<div style="max-width:${maxWidth}px;">` +
            '<p>Great job! You are now done with the experiment.</p>' + 
            '<p>Thank you for participating in our experiment. Your participation will contribute to a greater understanding of the human visual system.</p>' + 
            `<p>Once we collect all the data, we will pay you the bonus if you did better than the previous participant.</p>` + 
            '<p>***Important: <strong>Please press any key to officially end the experiment.</strong></p>' +
            '</div>',
            on_finish(trialData){
              addData("points",pointsCounter);
            }
          };
        }
        
         //------Trial-making functions-------
        
        //Function to make the sample categorization
        function makeExampleBlock(){

            //Make the happy face
            var happyFaceExample = {
              type: 'categorize-animation',
              stimuli: ["../static/images/H01_100.png"],
              timing_post_trial: calculatePostTrialGap(),
              choices: [happyKey, fearfulKey],
              key_answer: happyKey,
              text_answer: 'happy',
              correct_text: 'Correct! This was a %ANS% face.',
              incorrect_text: 'Incorrect. This was a %ANS% face.',
              frame_time: sampleFrameTime
            };

            //Make the fearful face
            var fearfulFaceExample = {
              type: 'categorize-animation',
              stimuli: ["../static/images/F01_100.png"],
              timing_post_trial: calculatePostTrialGap(),
              choices: [happyKey, fearfulKey],
              key_answer: fearfulKey,
              text_answer: 'fearful',
              correct_text: 'Correct! This was a %ANS% face.',
              incorrect_text: 'Incorrect. This was a %ANS% face.',
              frame_time: sampleFrameTime
            };

            //Shuffle the faces and place them in an array
            var exampleStimuli = jsPsych.randomization.repeat([happyFaceExample, fearfulFaceExample], 1);
            
            //Make the single-stim object to house the categorization animation, and include the prompt in between the stimuli and feedback
            //How does this work??? But it does work.
            var exampleBlockWithoutInstructions = {
                type: 'single-stim',
                prompt:'<p>Indicate whether the face is <strong>fearful</strong> or <strong>happy</strong>',
                choices: [fearfulKey,happyKey],
                timeline: exampleStimuli
            };
            
            //The prompt for the start of the example
            var examplePrompt = {
                type: 'text',
                text: '<p> This is a short example to help you get familiarized with the faces.</p>'+
                    '<p> Press any key to begin.</p>'
            };
            
            //The prompt for the end of the example
            var exampleDebrief = {
                type: 'text',
                text: '<p>This is the end of the sample, press any key to begin the practice block.</p>'
            };
            
            //Make the whole example block and return it
            return {
                timeline: [
                    examplePrompt,
                    exampleBlockWithoutInstructions,
                    exampleDebrief
                ]
            };
        }//End of makeExampleBlock()
        
        function concatenateShuffleRetag(block1, block2){
          
          //Load in timelines for easy handline 
          var timeline1 = block1.timeline;
          var timeline2 = block2.timeline;
          
          //Concatenate the timelines
          var allTimelines = timeline1.concat(timeline2);
          
          //Shuffle the timeline
          allTimelines = jsPsych.randomization.repeat(allTimelines,1);
          
          //For loop that goes through all the trials and re-tags them properly
          for (var i = 0; i < allTimelines.length; i++){
            
            //Change the trial numbers of all the non-fixation cross trials
            allTimelines[i].timeline[1].data.trialNumber = i+1; // First face
            allTimelines[i].timeline[3].data.trialNumber = i+1; // Second face
            allTimelines[i].timeline[4].data.trialNumber = i+1; // Interval question
            allTimelines[i].timeline[5].data.trialNumber = i+1; // Emotion question 1
            allTimelines[i].timeline[6].data.trialNumber = i+1; // Emotion question 2
            
          }//End of for loop
          
          //Return the new timeline
          return allTimelines;
          
        }//End of concatenateShuffleRetag
        
        //Make a random permutation based on the number of trials
        function makeTagArray(trialType, difficultyLevel){
            
            //Set the correct number of trials
            if(trialType === "real" && difficultyLevel === "N/A"){
              var n = nRealTrials;
            }
            else if(trialType == "real" && difficultyLevel === "75"){
              var n = nReal75Trials;
            }
            else if(trialType === "practice" && difficultyLevel === "easy"){
              var n = nEasyPracticeTrials;
            }
            else if(trialType === "practice" && difficultyLevel === "hard"){
              var n = nHardPracticeTrials;
            }
            
            
            //Check that the number of trials is divisible by 4
            if(n % 4 != 0){
                //Alert the user to make the changes to counterbalance properly
                alert('Counterbalancing must be done. Please set the number of ' + trialType + ' trials to a multiple of 4.');
            }
            //If the trials are divisible by 4, then make the array
            else{
                //Make the temporary array
                var tempArray = [];
                
                //Fill in the array with the number of trials
                for(var i = 0; i < n; i++){
                    tempArray.push(i);
                }
                
                //Shuffle the array
                tempArray = jsPsych.randomization.shuffle(tempArray);
                
                //return the shuffled tagArray
                return tempArray;
            }
        }
        
        function makeTrials(trialType, difficultyLevel = "N/A"){
        	
            //Make an array of the specified trial type
            var tagArray = makeTagArray(trialType, difficultyLevel);
          
            //Declare a new array for the trials
            var outerArray = [];
            
            //Make a generic fixation cross to be used
            var fixationCross = makeFixationCross();
            
            //For loop that goes through all the tags and makes a trial for each tag
            for (var i = 0; i < tagArray.length; i++){
                
                //Declare an array to hold the trial (which consists of 7 single stim objects)
                var innerArray = [];
                
                //Load in the current tag for easy handling
                var tag = tagArray[i];
                
                //Variable to store the target presentation
                var targetOrder = determineTargetOrder(tag, tagArray.length, trialType, difficultyLevel);
                
                //Variable to store the emotion of the target face (real trials), or the emotion of the first face (practice trials) 
                var emotion = determineTargetEmotion(tag, tagArray.length, difficultyLevel);
                
                //Make the presentation pair
                var presentationPair = makePresentationPair(targetOrder, emotion, i, tag, trialType, difficultyLevel);
                
                //Pass the emotion back out from the presentation pair to be passed into the making of judgment prompts
                var emotion1 = presentationPair[0]["data"]["faceEmotion"];
                var emotion2 = presentationPair[1]["data"]["faceEmotion"];
                
                //Push everything into the array
                innerArray.push(fixationCross);
                innerArray.push(presentationPair[0]);
                innerArray.push(fixationCross);
                innerArray.push(presentationPair[1]);
                innerArray.push(makeConfidencePrompt(targetOrder, emotion, i, tag, trialType));
                innerArray.push(makeJudgmentPrompt(targetOrder, emotion, emotion1, emotion2, i, tag, trialType, 1));
                innerArray.push(makeJudgmentPrompt(targetOrder, emotion, emotion1, emotion2, i, tag, trialType, 2));
                
                var currentTrialObject = {
                  timeline: innerArray
                }
                
                //Push the array of single stim objects into the outer array
                outerArray.push(currentTrialObject);
                
                
            }//End of for loop
            
            //Return the array of all the real trials
            return {
              type: 'single-stim',
              timeline: outerArray
            }
        } //End of makeRealTrials
        
        //Function to make the pair of presentations within a trial
        function makePresentationPair(targetOrder, emotion, trialNumber, tag, trialType, difficultyLevel){
            
            //Go down the decision tree to determine what emotions are in the first and second presentations
            /*Binary decision tree levels: 
           
            
                                ---> same
                  --->practice 
                                ---> different
            Start                              ***[Last level is happy/fearful for each of the 4 branches]***
                                ---> first
                  --->real 
                                ---> second
                                
            
            */
            
            //If it is a practice trial
            if(trialType === "practice"){
              
              //Data: face type is practice
              var faceType1 = "N/A";
              var faceType2 = "N/A";
              
              //The presentation time is for practice trials
              var presentationTime = practiceTrialsPresentationTime;
              
              //If the emotions are the same
              if(targetOrder === "same"){
                //If the emotion is happy
                if(emotion === "happy"){
                  //Then both of the presentations are happy
                  var emotionIndex1 = "H";
                  var emotionIndex2 = "H";
                  
                  var emotion1 = "happy";
                  var emotion2 = "happy";
                  
                  
                }
                //Else if the emotion is fearful
                else if (emotion === "fearful"){
                  //Then both of them are fearful
                  var emotionIndex1 = "F";
                  var emotionIndex2 = "F";
                  
                  var emotion1 = "fearful";
                  var emotion2 = "fearful";
                }
              }
              //Else if the emotions are different
              if(targetOrder === "different"){
                //If the emotion is happy
                if(emotion === "happy"){
                  //Then the first presentation is happy and the second is fearful
                  var emotionIndex1 = "H";
                  var emotionIndex2 = "F";
                  
                  var emotion1 = "happy";
                  var emotion2 = "fearful";
                }
                //Else if the emotion is fearful
                else if (emotion === "fearful"){
                  //Then the first presentation is fearful and the second is happy
                  var emotionIndex1 = "F";
                  var emotionIndex2 = "H";
                  
                  var emotion1 = "fearful";
                  var emotion2 = "happy";
                }
              }
            }
            //Else if it is a real trial
            else if(trialType === "real"){
              
              //The presentation time is for real trials
              var presentationTime = realTrialsPresentationTime;
              
              //If the emotions are the same
              if(targetOrder === "first"){
                
                //Data: First face type is target, and second is non-target
                var faceType1 = "target";
                var faceType2 = "non-target";
                
                //If the emotion is happy
                if(emotion === "happy"){
                  //Then the first presentation is happy and the second is neutral
                  var emotionIndex1 = "H";
                  var emotionIndex2 = "N";
                  
                  var emotion1 = "happy";
                  var emotion2 = "neutral";
                }
                //Else if the emotion is fearful
                else if (emotion === "fearful"){
                  //Then the first presentation is fearful and the second is neutral
                  var emotionIndex1 = "F";
                  var emotionIndex2 = "N";
                  
                  var emotion1 = "fearful";
                  var emotion2 = "neutral";
                }
              }
              //Else if the emotions are different
              if(targetOrder === "second"){
                
                //Data: First face type is non-target, and second is target
                var faceType1 = "non-target";
                var faceType2 = "target";
                
                //If the emotion is happy
                if(emotion === "happy"){
                  //Then the first presentation is neutral and the second is happy
                  var emotionIndex1 = "N";
                  var emotionIndex2 = "H";
                  
                  var emotion1 = "neutral";
                  var emotion2 = "happy";
                }
                //Else if the emotion is fearful
                else if (emotion === "fearful"){
                  //Then the first presentation is neutral and the second is fearful
                  var emotionIndex1 = "N";
                  var emotionIndex2 = "F";
                  
                  var emotion1 = "neutral";
                  var emotion2 = "fearful";
                }
              }
            }
            
            //If the trial is real and the first person is emotive, then choose the first person first
            if(trialType === "real" && (emotion1 === "happy" || emotion1 === "fearful") ){
              
              //If 75% intensity trial, then we use a simpler calculation to determine person
              if(difficultyLevel === "75"){
                var person1Index = tag%8;
              }
              else{
                //Calculate the index of person1
                var person1Index = Math.floor((tag%(validIntensitiesArray.length*validPersonsArray.length))/validIntensitiesArray.length);
              }
              
              //Choose person 1
              var person1 = validPersonsArray[person1Index];
            }
            //Else if the trial is real and the second person is emotive, then choose the second person first
            else if(trialType === "real" && (emotion2 === "happy" || emotion2 === "fearful") ){
              
              //If 75% intensity trial, then we use a simpler calculation to determine person
              if(difficultyLevel === "75"){
                var person2Index = tag%8;
              }
              else{
              
                //Calculate the index of person2
                var person2Index = Math.floor((tag%(validIntensitiesArray.length*validPersonsArray.length))/validIntensitiesArray.length);
              }
                
                //Choose person 2
                var person2 = validPersonsArray[person2Index];
            }
            //Else this is a practice trial, so we randomly choose a person for person 1
            else{
              var person1 = jsPsych.randomization.sample(validPersonsArray,1)[0];
            }
            
            //Flag to make sure that we don't choose the same person
            var samePerson = true;
            
            //While loop to choose the second person, making sure that it is not the same as the first person
            while(samePerson){
              
                //If trial is real and person 2 is emotive, then we pick person 1
                if(trialType === "real" && (emotion2 === "happy" || emotion2 === "fearful") ){
                  var person1 = jsPsych.randomization.sample(validPersonsArray,1)[0];
                }
                //Else person 2 is either a neutral person or this is a practice trial, so we now pick person 2
                else{
                  var person2 = jsPsych.randomization.sample(validPersonsArray,1)[0];
                }
                
                //Check to make sure that it is not the same person
                if(person2 != person1){
                    samePerson = false;
                }
            }
            
            //Pick out the face based on the difficulty level
            if(difficultyLevel === "easy"){
              var face1 = faceMap[emotionIndex1][person1]["1"]; //"1" corresponds to intensity 100 in the faceMap
              var face2 = faceMap[emotionIndex2][person2]["1"]; //"1" corresponds to intensity 100 in the faceMap
            }
            else if(difficultyLevel === "hard"){
              var face1 = faceMap[emotionIndex1][person1]["4"]; //"4" corresponds to intensity 25 in the faceMap
              var face2 = faceMap[emotionIndex2][person2]["4"]; //"4" corresponds to intensity 25 in the faceMap
            }
            else if(difficultyLevel === "75"){
              //Pick out the paths to the respective faces with 75 intensity
              var face1 = chooseFace(emotionIndex1, person1, tag, difficultyLevel);
              var face2 = chooseFace(emotionIndex2, person2, tag, difficultyLevel);
            }
            else if(difficultyLevel === "N/A"){
              //Pick out the paths to the respective faces with a random intensity out of valid intensities
              var face1 = chooseFace(emotionIndex1, person1, tag, difficultyLevel);
              var face2 = chooseFace(emotionIndex2, person2, tag, difficultyLevel);
            }
            
            //Record the intensity of each face
            var intensity1 = face1.match(/([HFN])([0-9]+)_([0-9]+)/)[3];
            var intensity2 = face2.match(/([HFN])([0-9]+)_([0-9]+)/)[3];
            
            //Make the first face object
            var faceObject1 = {
                type: 'single-stim',
                stimulus: face1,
                timing_stim: presentationTime,
                timing_response: presentationTime,
                response_ends_trial: false,
                on_finish: function(data){
                  //console.log(trialType);
                  //console.log(targetOrder);
                  //console.log(face1);
                },
                data: {
                    faceType: faceType1,
                    faceEmotion: emotion1,
                    trialEmotion: emotion,
                    person: person1,
                    trialType: trialType,
                    trialNumber: trialNumber,
                    tag: tag,
                    targetOrder: targetOrder,
                    intensity: intensity1,
                    difficulty: difficultyLevel
                }
            }
            
            //Make the second face object
            var faceObject2 = {
                type: 'single-stim',
                stimulus: face2,
                timing_stim: presentationTime,
                timing_response: presentationTime,
                response_ends_trial: false,
                on_finish: function(data){
                  //console.log(face2);
                  //console.log('------------------');
                },
                data: {
                    faceType: faceType2,
                    faceEmotion: emotion2,
                    trialEmotion: emotion,
                    person: person2,
                    trialType: trialType,
                    trialNumber: trialNumber,
                    tag: tag,
                    targetOrder: targetOrder,
                    intensity: intensity2,
                    difficulty: difficultyLevel
                }
            }
            
            //Return both of them in an array
            return [faceObject1, faceObject2]; 
        }//End of makePresentationPair
        
        //Function to make the confidence question
        function makeConfidencePrompt(targetOrder, emotion, trialNumber, tag, trialType){
          
            var prompt = `<div style="max-width:${maxWidth}px; text-align:center;">` +
            "<p>Which emotional face judgment would you like to bet on?</p>" + 
            "<p><br/>If <strong>first</strong>, press <strong>1</strong>.</p>" + 
            "<p>If <strong>second</strong>, press <strong>2</strong></p>" + 
            "</div>";
          
            return {
                type: 'single-stim',
                stimulus: "",
                prompt: prompt,
                is_html: true,
                timing_response: timeForResponse,
                choices: [firstKey, secondKey],
                on_finish(trialData){
                	//If the subject bet on the correct decision, then add that to the data
                	if( (targetOrder === "first" && trialData.key_press === firstKey) || (targetOrder === "second" && trialData.key_press === secondKey) ){
                		confidencePromptCorrectness = "correct";
                    
                    //If this is a real trial, increment the points counter
                    if(trialData.trialType === "real"){
                      pointsCounter++;
                    }
                    
                	}
                	//Else if the this was a practice trial
                	else if(trialData.trialType === "practice"){
                		confidencePromptCorrectness = "N/A";
                	}
                  //Else if the subject did not respond
                  else if(trialData.key_press === -1){
                    confidencePromptCorrectness = "noResponse";
                  }
                	//Else it is wrong
                	else{
                		confidencePromptCorrectness = "incorrect";
                	}
                  
                  //Add the data to the trial
                  addData("confidenceJudgment", confidencePromptCorrectness);
                },
                data: {
                    trialEmotion: emotion,
                    trialType: trialType,
                    trialNumber: trialNumber,
                    tag: tag,
                    targetOrder: targetOrder
                }
                
            };
        }
        
        //Function to make the judgment prompt
        function makeJudgmentPrompt(targetOrder, emotion, emotion1, emotion2, trialNumber, tag, trialType, judgmentNumber){
            
            //Variable to hold the inquiryNumber
            var inquiryNumber;
            //Initialize the inquiry number
            if(judgmentNumber === 1){
                inquiryNumber = "first";
            }
            else if(judgmentNumber === 2){
                inquiryNumber = "second";
            }
            
            var prompt = `<div style="max-width:${maxWidth}px; text-align:center;">` +
            `<p>Is the <strong> ${inquiryNumber} </strong> face happy or fearful?</p>` + 
            "<p><br/>If <strong>fearful</strong>, press <strong>F</strong>.</p>" + 
            "<p>If <strong>happy</strong>, press <strong>H</strong></p>" + 
            "</div>";
            
            return {
                type: 'single-stim',
                stimulus: "",
                prompt: prompt,
                is_html: true,
                timing_response: timeForResponse,
                choices: [happyKey, fearfulKey],
                on_finish(trialData){
                	//If it is asking about the first presentation
                	if(inquiryNumber === "first"){
                    
                    //Declare the key of the property to be added to the data object
                    var key = "judgment1";
                    
                		//And if the emotion presented matches up with the face, then save the data as correct
                		if( (trialData.emotion1 === "happy" && trialData.key_press === happyKey) || (trialData.emotion1 === "fearful" && trialData.key_press === fearfulKey) ){
                			var value = "correct";
                      
                      //If this is a real trial, increment the points counter
                      if(trialData.trialType === "real"){
                        pointsCounter++;
                      }
                		
                    }
                		//Else if the subject did not respond
                		else if(trialData.key_press === -1){
	                		//Save the data indicating that they did not respond
                      var value = "noResponse";
                		}
                		//Else if it was neutral
                		else if(trialData.emotion1 === "neutral"){
                			//Save the data indicating that their responses are irrelevant
                      var value = "N/A";
                		}
                		//Else it was wrong
                		else{
                      var value = "incorrect"
                		}
                	}
                	//If it is asking about the second presentation
                	else if(inquiryNumber === "second"){
                    
                    //Declare the key of the property to be added to the data object
                    var key = "judgment2";
                    
                		//If the response was correct
                		if( (trialData.emotion2 === "happy" && trialData.key_press === happyKey) || (trialData.emotion2 === "fearful" && trialData.key_press === fearfulKey) ){
                      var value = "correct";
                      
                      //If this is a real trial, increment the points counter
                      if(trialData.trialType === "real"){
                        pointsCounter++;
                      }
                        
                		}
                		//Else if the subject did not respond
                		else if(trialData.key_press === -1){
                      var value = "noResponse";
                		}
                		//Else if it was neutral
                		else if(trialData.emotion2 === "neutral"){
                      var value = "N/A";
                		}
                		//Else it was wrong
                		else{
                      var value = "incorrect";
                		}
                	}//End of main if
                  
                  //Add the data of this trial to the object
                  addData(key, value);
                  
                  //Add the data of the latest confidence trials to this judgment object
                  addData("confidenceJudgment", confidencePromptCorrectness);
                  
                },//End of on_finish
                data: {
                	inquiryNumber: inquiryNumber,
                  trialEmotion: emotion,
                  emotion1: emotion1,
                  emotion2: emotion2,
                  trialType: trialType,
                  trialNumber: trialNumber,
                  tag: tag,
                  targetOrder: targetOrder,
                }
            };
        }//End of makeJudgmentPrompt
        
        
        //Function to insert break screens
        function insertBreakScreens(realTrialsBlock){
          
          //Create the break screen object
          var breakScreenObject = {
              type: 'text',
              text: `<div style="max-width:${maxWidth}px;">` +
              '<p> Good work! .</p>' + 
              '<p> Now you can take a 1-minute break, though feel free to take more time if you need. </p>' +
              '<p> Whenever you are ready, press any key to continue.</p>' +
              '</div>'
            };
            
          //Load in the trials array for easy handling
          trialsArray = realTrialsBlock.timeline;
            
          console.log("trialsArray:");
          console.log(trialsArray);
          
          //For loop to insert the break screens into the trials
          for (var i = 1; i <= nBreaks; i++){
            
            //Splice it into the trialsArray
            trialsArray.splice(Math.round((i/(nBreaks+1))*(nRealTrials+nReal75Trials)),0,breakScreenObject);
            
          }
          
          //Substitute the old timeline with the new array
          realTrialsBlock.timeline = trialsArray;
            
          //Return the realTrialsBlock with the breaks inside the timeline
          return realTrialsBlock;
          
        }//End of insertBreakScreens
        
        
        
        //---------Convenience Functions--------
        
        //Function to choose the face
        function chooseFace(emotionIndex, person, tag, difficultyLevel){
          
          //If it is a neutral face, get a random neutral face and then return it
          if(emotionIndex === "N"){
            //Doesn't really matter but just making sure
            var zeroOrOne = Math.random() < 0.5 ? 0 : 1;
            //Return the neutral face of that person
            return faceMap["N"][person][zeroOrOne];
          }
          else if(difficultyLevel === "75"){
            //Return the 75% face of that person
            return faceMap[emotionIndex][person][6]; //6 is the index for 75%
          }
          //Else it is an emotion face and we find the appropriate face
          else if(difficultyLevel === "N/A"){
            
            //Calculate the intensity index of the valid intensities array from the tag
            var intensityIndex = tag % 3;
            
            //Get the intensity
            var intensity = validIntensitiesArray[intensityIndex];
            
            //Find the index of that intensity in the faceMap
            var faceMapIntensityIndex = allIntensitiesArray.indexOf(intensity);
            
            //Return that face
            return faceMap[emotionIndex][person][faceMapIntensityIndex];
          
          }//End of if emotionIndex == "N"
          
        }//End of chooseFace
        
        //Function to determine the order of targetPresentation
        function determineTargetOrder(tag, n, trialType, difficultyLevel){
            
            //If it is the 75% intensity, w randomize the interval
            if(difficultyLevel === "75"){
              return Math.random() < 0.5 ? "first" : "second";
            }
            
            //If it is in the first half, then the target is presented in the FIRST presentation (real trials), or they are the SAME emotion (practice trials)
            if(tag < n/2){
                if(trialType === "real"){
                  return "first";
                }
                else if(trialType === "practice"){
                  return "same";
                }
                
            }
            //If it is in the second half, then the target is presented in the SECOND presentation (real trials), or they are the DIFFERENT emotion (practice trials)
            else if(tag >= n/2){
                if(trialType === "real"){
                  return "second";
                }
                else if(trialType === "practice"){
                  return "different";
                }
            }
        }
        
        //Function to determine the emotion of the target face
        function determineTargetEmotion(tag, n, difficultyLevel){
          
            //If it is the 75% intensity, then the first half is happy and the second half is fearful
            if(difficultyLevel === "75"){
              if(tag < n/2){
                return "happy";
              }
              else if (tag >= n/2){
                return "fearful";
              }
            }
            
            //If the tag is in the first or third quartile, then it is a happy face
            if( tag < n/4 || (tag >= n/2 && tag < 3*n/4) ){
                return "happy";
            }
            //If the tag is in the second or fourth quartile, then it is a fearful face
            else if( (tag >= n/4 && tag < n/2) || tag >= 3*n/4){
                return "fearful";
            }
        }

        //Function to make the post_trial_gap
        function calculatePostTrialGap(){
            return Math.floor( Math.random()*(maxPostTrialGap-minPostTrialGap) ) + minPostTrialGap;
        }

        //Function to make get the key code from a char
        function key(character) {
            return jsPsych.pluginAPI.convertKeyCharacterToKeyCode(character);
        }
        
        //Function to add the data to the trial
        function addData(key, value){
        	var dataObject = {};
        	dataObject[key] = value; //Have to do it this way otherwise the key will be recorded as "key"
        	jsPsych.data.addDataToLastTrial(dataObject);
        }
        
        //Function that makes a fixation cross
        function makeFixationCross(){
            return {
                type: 'single-stim',
                stimulus: '<span class="big-font">+</span>', 
                is_html: true, 
                timing_stim: fixationCrossTime, 
                timing_response: fixationCrossTime,
                response_ends_trial: false
            };
        }
        
        //------psiTurk Functions Begin------
    
        //A function to save the data to the SQL table on the psiturk server.  This gets called at the end of the file.
        function save_data(data_table,data){
          
          //Add data to the jsPsych data file
          jsPsych.data.addProperties(
            {
              subject: psiturk.taskdata.get('workerId'),
              assignmentId: psiturk.taskdata.get('assignmentId'),
              hitId: psiturk.taskdata.get('hitId')
            }
          );
          
          //Use AJAX to post the data onto the psiturk server
          $.ajax({
            type:'post',
            cache: false,
            url: 'https://psiturk.psych.ucla.edu/~odegaard/' + folderName + '/templates/savedata.php',
            data: {
              table: data_table,
              json: JSON.stringify(data),
            },
            success: function(output) { console.log(output); } // write the result to javascript console
          });
        }
        
        //------psiTurk Functions End------



    </script>
</html>